        <!-- start page title section -->
<section class="page-title-section bg-img cover-background" data-overlay-dark="7" data-background="/clientcss/img/bg/page-title.jpg">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Blog Grid</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="javascript:void(0)">Blog Grid</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- end page title section -->
<!-- start blog section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 margin-30px-bottom">
                <div class="blog-block">
                    <div>
                        <img src="~/clientcss/img/blog/blog1.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <a href="javascript:void(0)" class="blog-text font-size16 xs-font-size14 font-weight-500">Education</a>
                        <h4 class="font-size20 md-font-size18 font-weight-500 line-height-30 margin-15px-tb"><a href="blog-post.html" class="text-theme-color">15 days satisfaction  seminar education</a></h4>
                        <p class="no-margin-bottom">3 March, 2020 - by <a href="javascript:void(0)" class="blog-text font-weight-500">Sminth</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 margin-30px-bottom">
                <div class="blog-block">
                    <div>
                        <img src="~/clientcss/img/blog/blog2.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <a href="javascript:void(0)" class="blog-text font-size16 xs-font-size14 font-weight-500">Knowledge</a>
                        <h4 class="font-size20 md-font-size18 font-weight-500 line-height-30 margin-15px-tb"><a href="blog-post.html" class="text-theme-color">Expand your confidence knowledge</a></h4>
                        <p class="no-margin-bottom">25 February, 2020 - by <a href="javascript:void(0)" class="blog-text font-weight-500">Jarale</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 margin-30px-bottom">
                <div class="blog-block">
                    <div>
                        <img src="~/clientcss/img/blog/blog3.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <a href="javascript:void(0)" class="blog-text font-size16 xs-font-size14 font-weight-500">Students</a>
                        <h4 class="font-size20 md-font-size18 font-weight-500 line-height-30 margin-15px-tb"><a href="blog-post.html" class="text-theme-color">How i use my planner as a student</a></h4>
                        <p class="no-margin-bottom">20 February, 2020 - by <a href="javascript:void(0)" class="blog-text font-weight-500">John</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 sm-margin-30px-bottom">
                <div class="blog-block">
                    <div>
                        <img src="~/clientcss/img/blog/blog4.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <a href="javascript:void(0)" class="blog-text font-size16 xs-font-size14 font-weight-500">Students</a>
                        <h4 class="font-size20 md-font-size18 font-weight-500 line-height-30 margin-15px-tb"><a href="blog-post.html" class="text-theme-color">Things before and after college life</a></h4>
                        <p class="no-margin-bottom">12 February, 2020 - by <a href="javascript:void(0)" class="blog-text font-weight-500">Fred</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 sm-margin-30px-bottom">
                <div class="blog-block">
                    <div>
                        <img src="~/clientcss/img/blog/blog5.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <a href="javascript:void(0)" class="blog-text font-size16 xs-font-size14 font-weight-500">Books</a>
                        <h4 class="font-size20 md-font-size18 font-weight-500 line-height-30 margin-15px-tb"><a href="blog-post.html" class="text-theme-color">Increase your knowledge with book</a></h4>
                        <p class="no-margin-bottom">01 February, 2020 - by <a href="javascript:void(0)" class="blog-text font-weight-500">Justin</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="blog-block">
                    <div>
                        <img src="~/clientcss/img/blog/blog6.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <a href="javascript:void(0)" class="blog-text font-size16 xs-font-size14 font-weight-500">Technology</a>
                        <h4 class="font-size20 md-font-size18 font-weight-500 line-height-30 margin-15px-tb"><a href="blog-post.html" class="text-theme-color">HP virtual reality headset with use</a></h4>
                        <p class="no-margin-bottom">20 December, 2019 - by <a href="javascript:void(0)" class="blog-text font-weight-500">Charles</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <!-- start pager  -->
                <div class="text-center margin-60px-top md-margin-50px-top sm-margin-40px-top">
                    <div class="pagination text-small text-uppercase text-extra-dark-gray">
                        <ul>
                            <li><a href="javascript:void(0);"><i class="fas fa-long-arrow-alt-left margin-5px-right xs-display-none"></i> Prev</a></li>
                            <li class="active"><a href="javascript:void(0);">1</a></li>
                            <li><a href="javascript:void(0);">2</a></li>
                            <li><a href="javascript:void(0);">3</a></li>
                            <li><a href="javascript:void(0);">Next <i class="fas fa-long-arrow-alt-right margin-5px-left xs-display-none"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- end pager -->
            </div>
        </div>
    </div>
</section>
<!-- end blog section -->