<!-- start page title section -->
<section class="page-title-section bg-img cover-background" data-overlay-dark="7" data-background="clientcss/img/bg/page-title.jpg">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Course Details</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="javascript:void(0)">Course Details</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- end page title section -->
<!-- start courses top-details section -->
<section class="top-detail no-padding">
    <div class="container position-relative z-index-9">
        <div class="row no-gutters">
            <div class="col-lg-3 col-sm-6">
                <div class="course-details-single padding-25px-tb xs-padding-20px-tb padding-45px-lr md-padding-25px-lr">
                    <div class="item author d-flex align-items-center">
                        <div class="thumb">
                            <a href="javascript:void(0)"><img src="~/clientcss/img/courses/courses-author.jpg" alt="" /></a>
                        </div>
                        <div class="desc">
                            <h4 class="font-size15 font-weight-400 text-white">Author</h4>
                            <a href="javascript:void(0)" class="font-size17 font-weight-600 text-white">Belni Poluya </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="course-details-single d-flex padding-25px-tb padding-45px-lr md-padding-25px-lr">
                    <div class="course-details-icon">
                        <i class="ti-time"></i>
                    </div>
                    <div class="course-details-content">
                        <span class="item-top-title text-white font-size16">Course Duration</span>
                        <h6 class="no-margin-bottom font-size22 xs-font-size16 text-white font-weight-500">1 Years</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="course-details-single d-flex padding-25px-tb padding-45px-lr md-padding-25px-lr">
                    <div class="course-details-icon">
                        <i class="ti-crown"></i>
                    </div>
                    <div class="course-details-content">
                        <span class="item-top-title text-white font-size16">Total Credits</span>
                        <h6 class="no-margin-bottom font-size22 xs-font-size16 text-white font-weight-500">650 Credites</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="course-details-single d-flex padding-25px-tb padding-45px-lr md-padding-25px-lr">
                    <div class="course-details-icon">
                        <i class="ti-user"></i>
                    </div>
                    <div class="course-details-content">
                        <span class="item-top-title text-white font-size16">Categories</span>
                        <h6 class="no-margin-bottom font-size22 xs-font-size16 text-white font-weight-500">General</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end courses top-details section -->
<!-- start course-details section -->
<section>
    <div class="container">

        <div class="row">

            <!--  start course details intro -->
            <div class="col-lg-9 col-md-12 sm-margin-40px-bottom">
                <div class="padding-30px-right sm-no-padding-right">
                    <div class="course-details">
                        <h2 class="margin-25px-bottom font-weight-500">Computer Science for beginners</h2>
                        <div class="margin-50px-bottom sm-margin-30px-bottom">
                            <div class="course-img position-relative">
                                <img src="~/clientcss/img/courses/course-detail01.jpg" alt="" />
                                <ul class="info-box xs-display-none">
                                    <li><i class="far fa-folder" aria-hidden="true"></i>Computer, Science</li>
                                    <li><i class="far fa-clock" aria-hidden="true"></i>25 Lectures</li>
                                    <li><i class="far fa-bookmark" aria-hidden="true"></i>B.A</li>
                                    <li><i class="fas fa-dollar-sign" aria-hidden="true"></i>$180</li>
                                    <li><i class="fas fa-globe-asia" aria-hidden="true"></i>English</li>
                                </ul>
                            </div>
                        </div>

                        <div class="horizontaltab tab-style2">
                            <ul class="resp-tabs-list hor_1">
                                <li>Information</li>
                                <li>Curricularm</li>
                                <li>Reviews</li>
                            </ul>
                            <div class="resp-tabs-container hor_1 no-padding">
                                <div>
                                    <div role="tabpanel" class="tab-pane fade in active show" id="information">
                                        <h3 class="font-size24 sm-font-size22 xs-font-size20 font-weight-500">Course Information</h3>
                                        <p class="margin-20px-bottom">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>

                                        <ul class="list-style2">
                                            <li>Sadipisci velit, sed quia non numquam eius.</li>
                                            <li>Imoditempora incidunt ut labore et dolore magnam.</li>
                                            <li>Exercitation ullamco laboris nisi ut aliquip consequat.</li>
                                            <li>Sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                                            <li>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        </ul>

                                    </div>
                                </div>
                                <div>
                                    <div class="container no-padding">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="curricularm">
                                                    <div class="margin-25px-bottom xs-margin-20px-bottom">
                                                        <h3 class="font-size24 sm-font-size22 xs-font-size20">Section 1 - Balance Sheet Reconciliations</h3>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="table-responsive">
                                                                    <table class="table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>#</th>
                                                                                <th>Lecture</th>
                                                                                <th>Time</th>
                                                                                <th>Seat</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>1</td>
                                                                                <td>Lecture 1.1</td>
                                                                                <td>Time : 30 Minute</td>
                                                                                <td>Seat : 25</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>2</td>
                                                                                <td>Lecture 1.2</td>
                                                                                <td>Time : 30 Minute</td>
                                                                                <td>Seat : 25</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>3</td>
                                                                                <td>Lecture 1.3</td>
                                                                                <td>Time : 50 Minute</td>
                                                                                <td>Seat : 25</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <!-- start blog comment wrappper-->
                                    <div class="comment-list-wrapper">
                                        <div class="comment-list">
                                            <div class="commnet_img">
                                                <img src="~/clientcss/img/courses/courses-review-01.jpg" alt="" class="img-fluid">
                                            </div>
                                            <div class="comment-text">
                                                <div class="author_info d-flex justify-content-between">
                                                    <a href="javascript:void(0)" class="author_name">Jamara Karle</a>
                                                    <span>1 days ago</span>
                                                </div>
                                                <div class="rating">
                                                    <ul class="rating d-flex justify-content-start">
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                    </ul>
                                                </div>
                                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut persp.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-list-wrapper margin-20px-bottom">
                                        <div class="comment-list">
                                            <div class="commnet_img">
                                                <img src="~/clientcss/img/courses/courses-review-02.jpg" alt="member img" class="img-fluid">
                                            </div>
                                            <div class="comment-text">
                                                <div class="author_info d-flex justify-content-between">
                                                    <a href="javascript:void(0)" class="author_name">Keir Prestonly</a>
                                                    <span>5 days ago</span>
                                                </div>
                                                <div class="rating">
                                                    <ul class="rating d-flex justify-content-start">
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star-half-alt"></i></li>
                                                    </ul>
                                                </div>
                                                <p>Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="font-size24">Leave a comment</h3>
                                    <form class="form" id="comment-form" method="post">
                                        <input type="hidden" name="form-name" value="contact-form">
                                        <div class="controls">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input id="form_name" type="text" name="name" placeholder="Name" required="required">
                                                </div>
                                                <div class="col-md-6">
                                                    <input id="form_email" type="email" name="email" placeholder="Email" required="required">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <textarea id="form_message" name="message" placeholder="Message" rows="4" required="required"></textarea>
                                                </div>
                                                <div class="col-md-12">
                                                    <button type="submit" class="butn medium">Send Message <i class="fas fa-long-arrow-alt-right margin-10px-left"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- end blog comment wrappper-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  end course details intro -->
            <!--  start course right side-bar details -->
            <div class="col-lg-3 col-md-12">
                <div class="side-bar">
                    <div class="widget">
                        <div class="widget-title">
                            <h6>Free Course Details</h6>
                        </div>
                        <div class="courses-feature">
                            <ul class="no-margin default-style">
                                <li><span><i class="far fa-user width-30px"></i></span> Students: <strong>50</strong></li>
                                <li><span><i class="fas fa-history width-30px"></i></span> Lessons: <strong>10</strong></li>
                                <li><span><i class="fas fa-file-invoice width-30px"></i></span> Language: <strong>English</strong></li>
                                <li><span><i class="far fa-clock width-30px"></i></span> Prerequisites: <strong>No</strong></li>
                                <li><span><i class="fas fa-id-card width-30px"></i></span> Course Capacity: <strong>15</strong></li>
                                <li><span><i class="fas fa-keyboard width-30px"></i></span> Start Courses: <strong>01/03/2020</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">

                        <div class="widget-title">
                            <h6>Our Popular Courses</h6>
                        </div>

                        <div class="single-post margin-25px-bottom">
                            <div class="recent_img">
                                <a href="#" title=""><img src="~/clientcss/img/courses/courses-sidebar1.jpg" alt="" /></a>
                            </div>
                            <div class="post_title">
                                <a href="javascript:void(0)">Marketing Business</a>
                                <div class="courses_price">
                                    <div class="price"><span><del>$140</del></span> <span class="new_price">$139</span></div>
                                </div>
                            </div>
                        </div>

                        <div class="single-post margin-25px-bottom">
                            <div class="recent_img">
                                <a href="javascript:void(0)"><img src="~/clientcss/img/courses/courses-sidebar2.jpg" alt="" /></a>
                            </div>
                            <div class="post_title">
                                <a href="javascript:void(0)">Architecture Design</a>
                                <div class="courses_price">
                                    <div class="price"><span><del>$190</del></span> <span class="new_price">$180</span></div>
                                </div>
                            </div>
                        </div>

                        <div class="single-post margin-25px-bottom">
                            <div class="recent_img">
                                <a href="javascript:void(0)"><img src="~/clientcss/img/courses/courses-sidebar3.jpg" alt="" /></a>
                            </div>
                            <div class="post_title">
                                <a href="#" title="">Medical Technology</a>
                                <div class="courses_price">
                                    <div class="price"><span class="new_price">$110</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="widget-title">
                            <h6>All Categories</h6>
                        </div>

                        <ul class="list-style2">
                            <li><a href="javascript:void(0)">Art &amp; Design</a></li>
                            <li><a href="javascript:void(0)">Business</a></li>
                            <li><a href="javascript:void(0)">IT &amp; Software</a></li>
                            <li><a href="javascript:void(0)">Languages</a></li>
                            <li><a href="javascript:void(0)">Programming</a></li>
                            <li><a href="javascript:void(0)">Technology</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <!--  end course right side-bar details -->

        </div>
    </div>
</section>
<!-- end course-details section -->
<!-- start course area section -->
<section class="courses-area bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 center-col margin-50px-bottom md-margin-40px-bottom text-center">
                <h3 class="font-weight-500 font-size32 md-font-size28 sm-font-size26 xs-font-size24 section-title">Related Courses</h3>
                <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
            </div>
        </div>
        <div class="courses-list">
            <div class="owl-carousel owl-theme">
                <div class="courses-box">
                    <div class="courses-pic position-relative">
                        <a href="course-details.html"><img src="~/clientcss/img/courses/courses_thumb_01.jpg" alt="" /></a>
                    </div>
                    <div class="course-main-content">
                        <div class="courses-desc last-paragraph-no-margin">
                            <div class="courses-title">
                                <h4 class="font-size22 md-font-size20 sm-font-size18 margin-5px-bottom font-weight-500"><a href="course-details.html" class="text-theme-color">Computer Science</a></h4>
                            </div>
                            <div class="course-review margin-15px-bottom">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span class="padding-10px-left">20 Reviews</span>
                            </div>
                            <p class="font-size15 xs-font-size14 line-height-28">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt laborum. </p>
                        </div>
                    </div>
                    <div class="card-footer media bg-white align-items-center justify-content-between">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-1">
                                <i class="ti-headphone mr-2"></i>25 lectures
                            </li>
                            <li class="">
                                <i class="ti-time mr-2"></i>9 hours
                            </li>
                        </ul>
                        <h4 class="text-right no-margin-bottom">
                            <span>$180</span>
                        </h4>
                    </div>
                </div>

                <div class="courses-box">
                    <div class="courses-pic position-relative">
                        <a href="course-details.html"><img src="~/clientcss/img/courses/courses_thumb_02.jpg" alt="" /></a>
                    </div>
                    <div class="course-main-content">
                        <div class="courses-desc last-paragraph-no-margin">
                            <div class="courses-title">
                                <h4 class="font-size22 md-font-size20 sm-font-size18 margin-5px-bottom font-weight-500"><a href="course-details.html" class="text-theme-color">Marketing Business</a></h4>
                            </div>
                            <div class="course-review margin-15px-bottom">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span class="padding-10px-left">26 Reviews</span>
                            </div>
                            <p class="font-size15 xs-font-size14 line-height-28">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt laborum.</p>
                        </div>
                    </div>
                    <div class="card-footer media bg-white align-items-center justify-content-between">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-1">
                                <i class="ti-headphone mr-2"></i>65 lectures
                            </li>
                            <li class="">
                                <i class="ti-time mr-2"></i>8 hours
                            </li>
                        </ul>
                        <h4 class="text-right no-margin-bottom">
                            <span>$140</span>
                        </h4>
                    </div>
                </div>

                <div class="courses-box">
                    <div class="courses-pic position-relative">
                        <a href="course-details.html"><img src="~/clientcss/img/courses/courses_thumb_03.jpg" alt="" /></a>
                    </div>
                    <div class="course-main-content">
                        <div class="courses-desc last-paragraph-no-margin">
                            <div class="courses-title">
                                <h4 class="font-size22 md-font-size20 sm-font-size18 margin-5px-bottom font-weight-500"><a href="course-details.html" class="text-theme-color">Architecture Design</a></h4>
                            </div>
                            <div class="course-review margin-15px-bottom">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span class="padding-10px-left">18 Reviews</span>
                            </div>
                            <p class="font-size15 xs-font-size14 line-height-28">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt laborum.</p>
                        </div>
                    </div>
                    <div class="card-footer media bg-white align-items-center justify-content-between">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-1">
                                <i class="ti-headphone mr-2"></i>55 lectures
                            </li>
                            <li class="">
                                <i class="ti-time mr-2"></i>7 hours
                            </li>
                        </ul>
                        <h4 class="text-right no-margin-bottom">
                            <span>$190</span>
                        </h4>
                    </div>
                </div>

                <div class="courses-box">
                    <div class="courses-pic position-relative">
                        <a href="course-details.html"><img src="~/clientcss/img/courses/courses_thumb_04.jpg" alt="" /></a>
                    </div>
                    <div class="course-main-content">
                        <div class="courses-desc last-paragraph-no-margin">
                            <div class="courses-title">
                                <h4 class="font-size22 md-font-size20 sm-font-size18 margin-5px-bottom font-weight-500"><a href="course-details.html" class="text-theme-color">Medical Technology</a></h4>
                            </div>
                            <div class="course-review margin-15px-bottom">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span class="padding-10px-left">25 Reviews</span>
                            </div>
                            <p class="font-size15 xs-font-size14 line-height-28">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt laborum.</p>
                        </div>
                    </div>
                    <div class="card-footer media bg-white align-items-center justify-content-between">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-1">
                                <i class="ti-headphone mr-2"></i>85 lectures
                            </li>
                            <li class="">
                                <i class="ti-time mr-2"></i>6 hours
                            </li>
                        </ul>
                        <h4 class="text-right no-margin-bottom">
                            <span>$110</span>
                        </h4>
                    </div>
                </div>

                <div class="courses-box">
                    <div class="courses-pic position-relative">
                        <a href="course-details.html"><img src="~/clientcss/img/courses/courses_thumb_05.jpg" alt="" /></a>
                    </div>
                    <div class="course-main-content">
                        <div class="courses-desc last-paragraph-no-margin">
                            <div class="courses-title">
                                <h4 class="font-size22 md-font-size20 sm-font-size18 margin-5px-bottom font-weight-500"><a href="course-details.html" class="text-theme-color">Microsoft Azure</a></h4>
                            </div>
                            <div class="course-review margin-15px-bottom">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span class="padding-10px-left">22 Reviews</span>
                            </div>
                            <p class="font-size15 xs-font-size14 line-height-28">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt laborum.</p>
                        </div>
                    </div>
                    <div class="card-footer media bg-white align-items-center justify-content-between">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-1">
                                <i class="ti-headphone mr-2"></i>30 lectures
                            </li>
                            <li class="">
                                <i class="ti-time mr-2"></i>5 hours
                            </li>
                        </ul>
                        <h4 class="text-right no-margin-bottom">
                            <span>$130</span>
                        </h4>
                    </div>
                </div>

                <div class="courses-box">
                    <div class="courses-pic position-relative">
                        <a href="course-details.html"><img src="~/clientcss/img/courses/courses_thumb_06.jpg" alt="" /></a>
                    </div>
                    <div class="course-main-content">
                        <div class="courses-desc last-paragraph-no-margin">
                            <div class="courses-title">
                                <h4 class="font-size22 md-font-size20 sm-font-size18 margin-5px-bottom font-weight-500"><a href="course-details.html" class="text-theme-color">Android Apps</a></h4>
                            </div>
                            <div class="course-review margin-15px-bottom">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span class="padding-10px-left">12 Reviews</span>
                            </div>
                            <p class="font-size15 xs-font-size14 line-height-28">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt laborum.</p>
                        </div>
                    </div>
                    <div class="card-footer media bg-white align-items-center justify-content-between">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-1">
                                <i class="ti-headphone mr-2"></i>75 lectures
                            </li>
                            <li>
                                <i class="ti-time mr-2"></i>4 hours
                            </li>
                        </ul>
                        <h4 class="text-right no-margin-bottom">
                            <span>$160</span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end course area section -->