 <!-- start page title section -->
<section class="page-title-section bg-img cover-background" data-overlay-dark="7" data-background="clientcss/img/bg/page-title.jpg">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Event Details</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="javascript:void(0)">Event Details</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- end page title section -->
<!-- start event-details section -->
<section>
    <div class="container">
        <div class="row">
            <!--  start event left-->
            <div class="col-lg-9 col-md-12 sm-margin-40px-bottom">
                <div class="padding-30px-right md-padding-30px-right sm-no-padding-right">

                    <h2 class="margin-30px-bottom sm-margin-20px-bottom xs-margin-15px-bottom font-weight-500">Business Conference Guidline</h2>

                    <div class="row margin-40px-bottom xs-margin-30px-bottom">
                        <div class="col-md-3 col-sm-6 xs-margin-15px-bottom border-right sm-no-border-right">
                            <div class="padding-20px-lr md-no-padding-lr">
                                <h5 class="font-size15 margin-5px-bottom">Start Time:</h5>
                                <p class="no-margin-bottom"><i class="fas fa-calendar-alt padding-5px-right text-hightlight-color"></i> 10 MAR 2020</p>
                                <p class="no-margin-bottom"><i class="far fa-clock padding-5px-right text-hightlight-color"></i> 01:30 PM </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 xs-margin-15px-bottom border-right sm-no-border-right">
                            <div class="padding-20px-lr md-no-padding-lr">
                                <h5 class="font-size15 margin-5px-bottom">End Time:</h5>
                                <p class="no-margin-bottom"><i class="fas fa-calendar-alt padding-5px-right text-hightlight-color"></i> 10 MAR 2020</p>
                                <p class="no-margin-bottom"><i class="far fa-clock padding-5px-right text-hightlight-color"></i> 04:30 PM</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mobile-margin-15px-bottom border-right sm-no-border-right">
                            <div class="padding-20px-lr md-no-padding-lr">
                                <h5 class="font-size15 margin-5px-bottom">Address:</h5>
                                <p class="no-margin-bottom">96 Venila Street, Great North Town.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="padding-20px-lr md-no-padding-lr">
                                <h5 class="font-size15 margin-5px-bottom">Ticket Price:</h5>
                                <p class="no-margin-bottom">$30 (NOR)</p>
                                <p class="no-margin-bottom">$45 (VIP)</p>
                            </div>
                        </div>
                    </div>
                    <div class="margin-30px-bottom sm-margin-30px-bottom">
                        <div class="event-img">
                            <img src="~/clientcss/img/events/eventdetail-1.jpg" alt="Event">
                        </div>
                    </div>
                    <h4 class="margin-15px-bottom font-weight-500">Event Details</h4>
                    <p>
                        Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciuntincidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                    </p>
                    <ul class="list-style2">
                        <li>Excepteur sint occaecat cupidatat non proident.</li>
                        <li>Duis aute irure dolor in reprehenderit in voluptate cillum.</li>
                        <li>Perspiciatis unde omnis iste natus error sit voluptatem accusantium.</li>
                    </ul>
                    <p class="no-margin-bottom margin-25px-top">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <!--  end event left-->
            <!--  start event right-->
            <div class="col-lg-3 col-md-12">
                <div class="side-bar">
                    <div class="widget search">
                        <form method='post'>
                            <input type="hidden" name="form-name" value="form 1" />
                            <input type="search" name="search" placeholder="Type here ...">
                            <button type="submit" class="butn theme"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <div class="widget">
                        <div class="widget-title">
                            <h6>Latest News</h6>
                        </div>
                        <ul class="no-margin-bottom default-style">
                            <li>
                                <a href="#">15 days satisfaction seminar education.</a>
                                <p class="no-margin-bottom">
                                    <i class="fas fa-calendar-alt text-hightlight-color padding-10px-right"></i>03 Mar, 2020
                                </p>
                            </li>
                            <li>
                                <a href="#">Expand your confidence knowledge</a>
                                <p class="no-margin-bottom">
                                    <i class="fas fa-calendar-alt text-hightlight-color padding-10px-right"></i>25 Feb, 2020
                                </p>
                            </li>
                            <li>
                                <a href="#">How i use my planner as a student</a>
                                <p class="no-margin-bottom">
                                    <i class="fas fa-calendar-alt text-hightlight-color padding-10px-right"></i>10 Feb, 2020
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <div class="widget-title">
                            <h6>Other Events</h6>
                        </div>
                        <div class="single-post margin-25px-bottom">
                            <div class="recent_img">
                                <a href="#" title=""><img src="~/clientcss/img/events/events-01.jpg" alt="" /></a>
                            </div>
                            <div class="post_title">
                                <a href="javascript:void(0)">Business Conference</a>
                                <p class="margin-5px-top font-size13 no-margin-bottom">
                                    <i class="fas fa-calendar-alt text-hightlight-color padding-10px-right"></i>10 Mar
                                </p>
                            </div>
                        </div>
                        <div class="single-post margin-25px-bottom">
                            <div class="recent_img">
                                <a href="javascript:void(0)"><img src="~/clientcss/img/events/events-02.jpg" alt="" /></a>
                            </div>
                            <div class="post_title">
                                <a href="javascript:void(0)">Craft Workshops</a>
                                <p class="margin-5px-top font-size13 no-margin-bottom">
                                    <i class="fas fa-calendar-alt text-hightlight-color padding-10px-right"></i>25 Feb
                                </p>
                            </div>
                        </div>
                        <div class="single-post margin-25px-bottom">
                            <div class="recent_img">
                                <a href="javascript:void(0)"><img src="~/clientcss/img/events/events-03.jpg" alt="" /></a>
                            </div>
                            <div class="post_title">
                                <a href="javascript:void(0)">Mentorship Program</a>
                                <p class="margin-5px-top font-size13 no-margin-bottom">
                                    <i class="fas fa-calendar-alt text-hightlight-color padding-10px-right"></i>20 Feb
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  end event right-->
        </div>
    </div>
</section>
<!-- end event-details section -->