 <!-- start page title section -->
<section class="page-title-section bg-img cover-background" data-overlay-dark="7" data-background="clientcss/img/bg/page-title.jpg">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Gallery</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="javascript:void(0)">Gallery</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- end page title section -->
<!-- start gallery section -->
<section>
    <div class="container">
        <div class="row">
            <!-- start links -->
            <div class="filtering col-sm-12 text-center">
                <span data-filter='*' class="active">View All</span>
                <span data-filter='.presentation'>Presentations</span>
                <span data-filter='.courses'>Courses</span>
                <span data-filter='.books'>Books</span>
            </div>
            <!-- end links -->
            <div class="gallery text-center width-100 margin-30px-top xs-margin-10px-top">
                <div class="col-lg-4 col-md-6 items presentation margin-30px-bottom sm-margin-25px-bottom xs-margin-20px-bottom">
                    <div class="gallary-block">
                        <div class="position-relative">
                            <img src="~/clientcss/img/gallery/01.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="~/clientcss/img/gallery/01.jpg" class="popimg"><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 items courses margin-30px-bottom sm-margin-25px-bottom xs-margin-20px-bottom">
                    <div class="gallary-block">
                        <div class="position-relative">
                            <img src="~/clientcss/img/gallery/02.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="~/clientcss/img/gallery/02.jpg" class="popimg"><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 items books margin-30px-bottom sm-margin-25px-bottom xs-margin-20px-bottom">
                    <div class="gallary-block">
                        <div class="position-relative">
                            <img src="~/clientcss/img/gallery/03.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="~/clientcss/img/gallery/03.jpg" class="popimg"><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 items books sm-margin-25px-bottom">
                    <div class="gallary-block">
                        <div class="position-relative">
                            <img src="~/clientcss/img/gallery/04.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="~/clientcss/img/gallery/04.jpg" class="popimg"><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 items courses xs-margin-20px-bottom">
                    <div class="gallary-block">
                        <div class="position-relative">
                            <img src="~/clientcss/img/gallery/05.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="~/clientcss/img/gallery/05.jpg" class="popimg"><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 items presentation">
                    <div class="gallary-block">
                        <div class="position-relative">
                            <img src="~/clientcss/img/gallery/06.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="~/clientcss/img/gallery/06.jpg" class="popimg"><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end gallery section -->