  @model ITM_College.Models.Student;
<section class="page-title-section bg-img cover-background" data-overlay-dark="7" data-background="/clientcss/img/bg/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Login</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="javascript:void(0)">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<!-- start login section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 ml-auto mr-auto">
                <div class="common-block padding-40px-all sm-padding-30px-all xs-padding-25px-all">
                    <h4 class="no-margin-bottom text-center font-weight-500">Welcome Back</h4>
                    <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
                    <form method="post">
                        @if(ViewBag.error != null){
                            <span class="text-danger">@ViewBag.error</span>
                        }
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input class="margin-5px-bottom" type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" asp-for="StudentEmail">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input class="margin-5px-bottom" type="password" id="exampleInputPassword1" placeholder="Password" asp-for="Password">
                        </div>
                        <div class="col-12">
                            <div class="form-group no-margin">

                                <a asp-action="Registration" asp-controller="Home">New Student Click here to Register!</a>
                            </div>
                        </div>
                        <button type="submit" class="butn theme margin-20px-top"><span class="alt-font">Login <i class="fas fa-long-arrow-alt-right margin-10px-left"></i></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end login section -->