 @model ITM_College.Models.Student;
<!-- start page title section -->
<section class="page-title-section bg-img cover-background" data-overlay-dark="7" data-background="/clientcss/img/bg/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Register</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="javascript:void(0)">Register</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<!-- start register section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 ml-auto mr-auto">
                <div class="common-block padding-40px-all sm-padding-30px-all xs-padding-25px-all">
                    <h4 class="text-center no-margin-bottom font-weight-500">Register New Account</h4>
                    <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
                    <form class="margin-30px-top" method="post" enctype="multipart/form-data" id="register-form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="username">Full Name</label>
                                    <input class="margin-5px-bottom" type="text" id="name" placeholder="Full Name" asp-for="StudentName">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="margin-5px-bottom" type="email" id="email" placeholder="E-Mail" asp-for="StudentEmail">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input class="margin-5px-bottom" type="password" id="password" placeholder="Password" asp-for="Password">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="img">Profile Picture</label>
                                    <input class="margin-5px-bottom" type="file" id="img" placeholder="img" name="img">
                                </div>
                            </div>
                            <div class="">
                                <div class="form-group">
                                    <input class="margin-5px-bottom" type="number" id="Role" placeholder="Role" asp-for="Role" value="1" hidden>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group no-margin">
                                    <a asp-action="Login" asp-controller="Home">Already a User login!</a>
                                </div>
                                <button type="submit" class="butn theme margin-20px-top"><span class="alt-font">Register <i class="fas fa-long-arrow-alt-right margin-10px-left"></i></span></button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end register section -->
<script>
    const validate = new window.JustValidate('#register-form');

    validate
        .addField('#name', [
            {
                rule: 'required',
                errorMessage: 'Name is required',
            },
            {
                rule: 'minLength',
                value: 3,
            },
            {
                rule: 'maxLength',
                value: 30,
            },
        ])
        .addField('#email', [
            {
                rule: 'required',
                errorMessage: 'Email is required',
            },
            {
                rule: 'email',
                errorMessage: 'Email is invalid!',
            },
        ]);
</script>
