  <!-- start page title section -->
<section class="page-title-section bg-img cover-background" data-overlay-dark="7" data-background="clientcss/img/bg/page-title.jpg">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Teacher Details</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="javascript:void(0)">Teacher Details</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- end page title section -->
<!-- start teacher-details section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 xs-margin-30px-bottom">
                <div class="profile-image border">
                    <img src="~/clientcss/img/team/team-05.jpg" alt="" />
                    <div class="padding-30px-all sm-padding-25px-all profile-info">
                        <ul>
                            <li class="margin-15px-bottom xs-margin-10px-bottom">
                                <span class="font-weight-600 display-block text-extra-dark-gray">Phone:</span>
                                <a href="javascript:void(0)" class="font-size14 text-medium-gray font-weight-500">(+44) 123 456 789</a>
                            </li>
                            <li class="margin-15px-bottom xs-margin-10px-bottom">
                                <span class="font-weight-600 display-block text-extra-dark-gray">Email:</span>
                                <a href="javascript:void(0)" class="font-size14 text-medium-gray font-weight-500">email@youradress.com</a>
                            </li>
                            <li class="margin-15px-bottom xs-margin-10px-bottom">
                                <span class="font-weight-600 display-block text-extra-dark-gray">Webite:</span>
                                <a href="http://www.website.com/" class="font-size14 text-medium-gray font-weight-500">www.yourwebsitehere.com</a>
                            </li>
                            <li>
                                <span class="font-weight-600 display-block text-extra-dark-gray">Address:</span>74 Norava Street 542B, Great North Town 51 MT
                            </li>
                        </ul>
                        <div class="social-icon">
                            <ul class="no-margin-bottom">
                                <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="profile-info margin-40px-left sm-margin-20px-left xs-no-margin-left">
                    <h2 class="no-margin-bottom font-weight-500">Matide V. Sousa</h2>
                    <h6 class="margin-20px-bottom xs-margin-10px-bottom font-size14 font-weight-600 letter-spacing-1">Graphic Designer</h6>
                    <p class="margin-40px-bottom sm-margin-30px-bottom xs-margin-20px-bottom line-height-28">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.</p>
                    <h3 class="margin-15px-bottom font-weight-500">Teacher's skill</h3>

                    <div class="progress-text">
                        <div class="row">
                            <div class="col-6">English</div>
                            <div class="col-6 text-right">98%</div>
                        </div>
                    </div>
                    <div class="custom-progress progress">
                        <div role="progressbar" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100" style="width:80%" class="animated custom-bar progress-bar slideInLeft"></div>
                    </div>
                    <div class="progress-text">
                        <div class="row">
                            <div class="col-6">Computer</div>
                            <div class="col-6 text-right">96%</div>
                        </div>
                    </div>
                    <div class="custom-progress progress">
                        <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%" class="animated custom-bar progress-bar slideInLeft"></div>
                    </div>
                    <div class="progress-text">
                        <div class="row">
                            <div class="col-6">Art</div>
                            <div class="col-6 text-right">90%</div>
                        </div>
                    </div>
                    <div class="custom-progress progress">
                        <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:55%" class="animated custom-bar progress-bar slideInLeft"></div>
                    </div>
                    <div class="progress-text">
                        <div class="row">
                            <div class="col-6">Science</div>
                            <div class="col-6 text-right">92%</div>
                        </div>
                    </div>
                    <div class="custom-progress progress">
                        <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:50%" class="animated custom-bar progress-bar slideInLeft"></div>
                    </div>

                    <div class="comment-box margin-50px-top sm-margin-40px-top xs-margin-35px-top">
                        <h3 class="font-weight-500">Send your message</h3>
                        <form method="post" action="#!">
                            <input type="hidden" name="form-type" value="contact">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="name" placeholder="Your Name:" data-constraints=LettersOnly NotEmpty">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="email" placeholder="Email:" data-constraints="Email NotEmpty">
                                </div>
                                <div class="col-md-12">
                                    <textarea name="message" rows="4" placeholder="Message:" data-constraints="NotEmpty"></textarea>
                                </div>
                                <div class="mfControls col-md-12">
                                    <button type="submit" class="butn no-margin-bottom">Submit comment <i class="fas fa-long-arrow-alt-right margin-10px-left"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end teacher-details section -->