    <!-- start page title section -->
<section class="page-title-section bg-img cover-background" data-overlay-dark="7" data-background="/clientcss/img/bg/page-title.jpg">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Teachers</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="javascript:void(0)">Teachers</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- end page title section -->
<!-- start teachers section -->
<section class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 center-col margin-50px-bottom sm-margin-30px-bottom text-center">
                <h3 class="font-weight-500 font-size32 md-font-size28 sm-font-size26 xs-font-size24 section-title">Our team</h3>
                <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 margin-30px-bottom">
                <div class="team-block">
                    <div class="team-image position-relative display-block overflow-hidden">
                        <img src="~/clientcss/img/team/team-05.jpg" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icons no-margin-bottom">
                                <li><a href="javascript:void(0)"><span><i class="fab fa-facebook-f"></i></span></a></li>
                                <li><a href="javascript:void(0)"><span><i class="fab fa-twitter"></i></span></a></li>
                                <li><a href="javascript:void(0)"><span><i class="fab fa-linkedin-in"></i></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-info padding-20px-tb md-padding-15px-tb padding-5px-lr text-center">
                        <h5 class=" font-size20 sm-font-size18 text-theme-color margin-5px-bottom sm-no-margin-bottom">Matide V. Sousa</h5>
                        <div class="team-position">Graphic Designer</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 margin-30px-bottom">
                <div class="team-block">
                    <div class="team-image position-relative display-block overflow-hidden">
                        <img src="~/clientcss/img/team/team-04.jpg" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icons no-margin-bottom">
                                <li><a href="javascript:void(0)"><span><i class="fab fa-facebook-f"></i></span></a></li>
                                <li><a href="javascript:void(0)"><span><i class="fab fa-twitter"></i></span></a></li>
                                <li><a href="javascript:void(0)"><span><i class="fab fa-linkedin-in"></i></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-info padding-20px-tb md-padding-15px-tb padding-5px-lr text-center">
                        <h5 class=" font-size20 sm-font-size18 text-theme-color margin-5px-bottom sm-no-margin-bottom">Donna C. Adams</h5>
                        <div class="team-position">App Developer</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 margin-30px-bottom">
                <div class="team-block">
                    <div class="team-image position-relative display-block overflow-hidden">
                        <img src="~/clientcss/img/team/team-06.jpg" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icons no-margin-bottom">
                                <li><a href="javascript:void(0)"><span><i class="fab fa-facebook-f"></i></span></a></li>
                                <li><a href="javascript:void(0)"><span><i class="fab fa-twitter"></i></span></a></li>
                                <li><a href="javascript:void(0)"><span><i class="fab fa-linkedin-in"></i></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-info padding-20px-tb md-padding-15px-tb padding-5px-lr text-center">
                        <h5 class=" font-size20 sm-font-size18 text-theme-color margin-5px-bottom sm-no-margin-bottom">Alice K. Jones</h5>
                        <div class="team-position">Creative Arts</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 sm-margin-30px-bottom">
                <div class="team-block">
                    <div class="team-image position-relative display-block overflow-hidden">
                        <img src="~/clientcss/img/team/team-03.jpg" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icons no-margin-bottom">
                                <li><a href="javascript:void(0)"><span><i class="fab fa-facebook-f"></i></span></a></li>
                                <li><a href="javascript:void(0)"><span><i class="fab fa-twitter"></i></span></a></li>
                                <li><a href="javascript:void(0)"><span><i class="fab fa-linkedin-in"></i></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-info padding-20px-tb md-padding-15px-tb padding-5px-lr text-center">
                        <h5 class=" font-size20 sm-font-size18 text-theme-color margin-5px-bottom sm-no-margin-bottom">Steven K. Fry</h5>
                        <div class="team-position">Professor</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 xs-margin-30px-bottom">
                <div class="team-block">
                    <div class="team-image position-relative display-block overflow-hidden">
                        <img src="~/clientcss/img/team/team-02.jpg" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icons no-margin-bottom">
                                <li><a href="javascript:void(0)"><span><i class="fab fa-facebook-f"></i></span></a></li>
                                <li><a href="javascript:void(0)"><span><i class="fab fa-twitter"></i></span></a></li>
                                <li><a href="javascript:void(0)"><span><i class="fab fa-linkedin-in"></i></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-info padding-20px-tb md-padding-15px-tb padding-5px-lr text-center">
                        <h5 class=" font-size20 sm-font-size18 text-theme-color margin-5px-bottom sm-no-margin-bottom">Genevi T. Peller</h5>
                        <div class="team-position">Professor</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-block">
                    <div class="team-image position-relative display-block overflow-hidden">
                        <img src="~/clientcss/img/team/team-01.jpg" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icons no-margin-bottom">
                                <li><a href="javascript:void(0)"><span><i class="fab fa-facebook-f"></i></span></a></li>
                                <li><a href="javascript:void(0)"><span><i class="fab fa-twitter"></i></span></a></li>
                                <li><a href="javascript:void(0)"><span><i class="fab fa-linkedin-in"></i></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-info padding-20px-tb md-padding-15px-tb padding-5px-lr text-center">
                        <h5 class=" font-size20 sm-font-size18 text-theme-color margin-5px-bottom sm-no-margin-bottom">Kevin L. Tudor</h5>
                        <div class="team-position">Professor</div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- end teachers section -->