@{
	Layout = "_AdminLayout";
}
@model ITM_College.Models.Department;
<!--**********************************
	  Content body start
  ***********************************-->
<div class="content-body">
	<!-- row -->
	<div class="container-fluid">

		<div class="row page-titles mx-0">
			<div class="col-sm-6 p-md-0">
				<div class="welcome-text">
					<h4>Add Departments</h4>
				</div>
			</div>
			<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
				<ol class="breadcrumb">

					<li class="breadcrumb-item"><a href="javascript:void(0);">Departments</a></li>
					<li class="breadcrumb-item active"><a href="javascript:void(0);">Add Departments</a></li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-12 col-xxl-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Add Department</h5>
					</div>
					<div class="card-body">
						<form method="post">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="Department_Name" class="form-label">Department Name</label>
										<input id="Department_Name" asp-for="DepartmentName" placeholder="Department Name" type="text" class="form-control">
										<span asp-validation-for="DepartmentName" class="text-danger"></span>
									</div>
								</div>
								<div class="col-lg-10 col-md-10 col-sm-12">
									<div class="form-group">
										<label for="Department_Details" class="form-label">Department Details</label>
										<textarea id="Department_Details" asp-for="DepartmentDesc" placeholder="Department Details" class="form-control" rows="5"></textarea>
										<span asp-validation-for="DepartmentDesc" class="text-danger"></span>
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<button type="submit" class="btn btn-primary">Submit</button>
									<button type="reset" class="btn btn-danger light">Reset</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!--**********************************
	Content body end
***********************************-->
