@{
    Layout = "_AdminLayout";
}

<div class="content-body">
	<!-- row -->
	<div class="container-fluid">

		<div class="row page-titles mx-0">
			<div class="col-sm-6 p-md-0">
				<div class="welcome-text">
					<h4>Professor Profile</h4>
				</div>
			</div>
			<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
				<ol class="breadcrumb">

					<li class="breadcrumb-item"><a href="javascript:void(0);">Professors</a></li>
					<li class="breadcrumb-item active"><a href="javascript:void(0);">Professor Profile</a></li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-12 col-xxl-12 col-lg-12">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="text-center p-3 overlay-box" style="background-image: url(images/big/img1.jpg);">
								<div class="profile-photo">
									<img src="images/profile/profile.png" width="100" class="img-fluid rounded-circle" alt="">
								</div>
								<h3 class="mt-3 mb-1 text-white">Deangelo Sena</h3>
							</div>
							<div class="card overflow-hidden px-lg-5">

								<div class="card-body pb-0">
									<ul class="list-group list-group-flush ">
										<li class="list-group-item d-flex px-0 justify-content-between">
											<strong>Gender</strong>
											<span class="mb-0">Male</span>
										</li>
										<li class="list-group-item d-flex px-0 justify-content-between">
											<strong>Education</strong>
											<span class="mb-0">PHD</span>
										</li>
										<li class="list-group-item d-flex px-0 justify-content-between">
											<strong>Designation</strong>
											<span class="mb-0">Se. Professor</span>
										</li>
										<li class="list-group-item d-flex px-0 justify-content-between">
											<strong>Operation Done</strong>
											<span class="mb-0">120</span>
										</li>
									</ul>
								</div>
								<div class="card-footer pt-0 pb-0 text-center">
									<div class="row">
										<div class="col-6 pt-3 pb-3 border-end">
											<h3 class="mb-1 text-primary">150</h3>
											<span>Courses</span>
										</div>
										<div class="col-6 pt-3 pb-3 border-end">
											<h3 class="mb-1 text-primary">140</h3>
											<span>Students</span>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer text-center border-0 mt-0">
								<a href="javascript:void(0);" class="btn btn-primary  px-4">Follow</a>
								<a href="javascript:void(0);" class="btn btn-warning  px-4">Message</a>
							</div>
						</div>
					</div>


				</div>
			</div>

		</div>

	</div>
</div>