@{
	Layout = "_FacultyLayout";
}
@model IEnumerable<Course>;


<!--**********************************
		  Content body start
	  ***********************************-->
<div class="content-body">
	<!-- row -->
	<div class="container-fluid">

		<div class="row page-titles mx-0">
			<div class="col-sm-6 p-md-0">
				<div class="welcome-text">
					<h4>All Professors</h4>
				</div>
			</div>
			<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
				<ol class="breadcrumb">

					<li class="breadcrumb-item"><a href="javascript:void(0);">Assignment</a></li>
					<li class="breadcrumb-item active"><a href="javascript:void(0);">All Courses</a></li>
				</ol>
			</div>
		</div>

		<div class="row">


			<div class="container text-center">
				<div class="row">
					@if (Model.Any())
					{
						@foreach (var temp in Model)
						{
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="card overflow-hidden">
									<img src="~/@temp.CourseImg" class="card-img-top overflow-hidden" alt="...">
									<div class="card-body">
										<h5 class="card-title">@temp.CourseName</h5>
										<p class="card-text">@temp.CourseDesc</p>
										<a href="#" class="btn btn-primary">Assignments</a>
									</div>
								</div>
							</div>
						}
					}
					else
					{
						<h3>No Courses</h3>
					}
				</div>
			</div>

	</div>
</div>



<!--**********************************
	Content body end
***********************************-->
