@{
    Layout = "_StudentLayout";
}
@model ITM_College.Models.Registration;
<!--**********************************
         Content body start
     ***********************************-->
<div class="content-body">

    <!-- row -->
    <div class="container-fluid">

        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Registration Form</h4>
                </div>
            </div>
            @* <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Registration</a></li>
            </ol>
            </div> *@
        </div>

        <div class="row">
            <div class="col-xl-12 col-xxl-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Basic Info</h5>
                    </div>
                    <div class="card-body">
                        <form method="post" id="admissionForm">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="name">Name</label>
                                        <input placeholder="Enter Name" asp-for="StudentReg.StudentName" id="name" type="text" class="form-control" required>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="father_name">Father's Name</label>
                                        <input placeholder="Enter Father's Name" asp-for="StudentReg.FatherName" id="father_name" type="text" class="form-control" required>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="mother_name">Mother's Name</label>
                                        <input placeholder="Enter Mother's Name" asp-for="StudentReg.MotherName" id="mother_name" type="text" class="form-control" required>
                                    </div>
                                </div>

                              @*   <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="dob">Date of Birth</label>
                                        <input type="date" asp-for="StudentReg.Dob" class="form-control" placeholder="2017-06-04" id="mdate">
                                    </div>
                                </div> *@

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label">Gender</label>
                                        <select asp-for="StudentReg.Gender" class="form-control" required>
                                            <option value="">Select Gender</option>
                                            <option value="1">Male</option>
                                            <option value="2">Female</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="residential_address">Residential Address</label>
                                        <textarea id="residential_address" asp-for="StudentReg.ResidentalAddress" class="form-control" required></textarea>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="permanent_address">Permanent Address</label>
                                        <textarea id="permanent_address" asp-for="StudentReg.PermanentAddress" class="form-control" required></textarea>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="admission_for">Admission For</label>
                                        <input placeholder="Admission For" asp-for="StudentReg.AddmissionFor" id="admission_for" type="text" class="form-control" required>
                                    </div>
                                </div>

                                <!-- Table for previous exam details -->
                                <div class="col-lg-12">
                                    <h4>Previous Exam Details</h4>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Institute Name</th>
                                                    <th>Enrollment Number</th>
                                                    <th>Center</th>
                                                    <th>Stream</th>
                                                    <th>Field</th>
                                                    <th>Marks Secured</th>
                                                    <th>Out Of</th>
                                                    <th>Class Obtained</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input asp-for="PreviousExams.InstituteName" type="text" class="form-control" required></td>
                                                    <td><input asp-for="PreviousExams.EnrollmentNumber" type="number" class="form-control" required></td>
                                                    <td><input asp-for="PreviousExams.Center" type="text" class="form-control" required></td>
                                                    <td><input asp-for="PreviousExams.Stream" type="text" class="form-control" required></td>
                                                    <td><input asp-for="PreviousExams.Field" type="text" class="form-control" required></td>
                                                    <td><input asp-for="PreviousExams.Marks" type="number" class="form-control" required></td>
                                                    <td><input asp-for="PreviousExams.OutOf" type="number" class="form-control" required></td>
                                                    <td><input asp-for="PreviousExams.ClassObtained" type="text" class="form-control" required></td>
                                                    @* <td><input asp-for="PreviousExams.Sports" type="text" class="form-control"></td> *@
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="sports_details">Sports Details (if any)</label>
                                        <textarea id="sports_details" asp-for="PreviousExams.Sports" class="form-control"></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--**********************************
    Content body end
***********************************-->
